@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #000;

    --primary: #fff;
    
    --muted: #52525b;

    --border: #d4d4d8;

    --font-merriweather: 'Merriweather';
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;

    --primary: #e4e4e7;

    --muted: #a1a1aa;

    --border: #3f3f46;
  }
}

@layer base {
  * {
    @apply border-border
  }

  body {
    @apply font-merriweather bg-background text-foreground
  }
}