@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #09090b;

    --primary: #09090b;
    
    --muted: #52525b;

    --border: #a1a1aa;
    
    --font-inter: 'Inter';
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;

    --primary: #e4e4e7;

    --muted: #a1a1aa;

    --border: #3f3f46;
  }
}

@layer base {
  * {
    @apply border-border
  }

  body {
    @apply font-inter bg-background text-foreground
  }
}