@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #09090b;

    --border: #09090b;
    
    --font-inter: 'Inter';
  }
}

@layer base {
  * {
    @apply border-border
  }

  body {
    @apply font-inter bg-background text-foreground
  }
}